PORT=3033
REACT_APP_BACKEND_URL=http://localhost:5000
REACT_APP_CHAT_SERVICE_URL=http://localhost:5000/chat
REACT_APP_ALPHA_VANTAGE_BASE_URL=https://www.alphavantage.co/query
REACT_APP_ALPHA_VANTAGE_API_KEY=YOUR_ALPHA_VANTAGE_API_KEY
